._dash_container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
  overflow: hidden;
  background: var(
    --Linear,
    linear-gradient(13deg, #384146 1.49%, #21242b 74.12%, #21242b 94.98%)
  );
}
.main {
  height: calc(100% - 50px);
  display: flex;
  flex: 1;
}
.sidebar {
  height: 100%;
  width: 220px;
  box-sizing: border-box;
  box-shadow: 0 0 2rem 0 rgb(0 0 0 / 5%);
  overflow: hidden;
  transition: width 0.5s ease;
}
._dash_container.nav-closed .sidebar,
._dash_container.nav-closed .header-logo {
  width: 80px;
}
.sidebar ul {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
  margin-top: 0.5rem;
  gap: 1rem;
}
.sidebar ul li {
  display: flex;
  align-items: center;
}
.sidebar ul li a {
  color: white !important;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  white-space: nowrap;
}
.sidebar ul li a.active svg {
  fill: #0db254 !important;
}
.sidebar ul li a.active,
.sidebar ul li a:hover {
  border-radius: 60px;
  border: 0.5px solid rgba(13, 178, 84, 0.72);

  background: rgba(27, 29, 35, 1);

  box-shadow: -5px -3px 9.4px 0px #262930 inset;
  transition: 0.5s all ease;
}
.sidebar ul li span {
  margin-left: 16px;
  font-size: 16px;
  font-weight: 100;
}
.sidebar ul li i {
  font-size: 18px;
  color: #111;
  font-weight: normal;
}
.header {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-basis: 100%;
}
.sidebar ul li a.active i {
  color: #303f9e;
}
.site-logo {
  height: 32px;
  width: 32px;
  min-height: 32px;
  min-width: 32px;
  margin: 0 18px 0 15px;
}
.site-logo path {
  fill: #fff;
}
.site-title {
  color: #fff;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 400;
}
.dashboard-content {
  max-height: 100%;
  overflow-y: auto;
  padding: 10px 70px;
  box-sizing: border-box;
  border-radius: 50px;
  width: 100%;
  flex: 1;
  background: #0f1112;
}
.scrollable-container::-webkit-scrollbar {
  display: none;
}
.dashboard-content h1 {
  font-size: 20px;
  font-weight: 400;
  color: #333;
}
.header-search {
  height: 100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
  padding: 0 20px;
  flex: 1;
}
.header-search .button-menu {
  width: 28px;
  height: 28px;
  margin-right: 15px;
  background: none;
  border: 0;
  cursor: pointer;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 220px;
  overflow: hidden;
  transition: width 0.5s ease;
  cursor: pointer;
  padding: 0 18px;
}
.header-logo img {
  width: 50px;
  object-fit: cover;
}
#header-logo-2 {
  width: 120px;
  padding: 0 11px;
}
.header-search input[type="search"] {
  height: 100%;
  width: 300px;
  padding: 10px 20px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 100;
  background: none;
  border: none;
  color: #fff;
}
.header-search input[type="search"]:focus {
  outline: none;
}
.header-search input[type="search"]::placeholder {
  color: #ccc;
}
.header-search .button-menu:focus {
  outline: none;
  border: none;
}
.header-search .button-menu svg path {
  fill: #fff;
}
@media screen and (max-width: 991px) {
  .dashboard-content {
    padding: 0px 20px;
    width: 0vw;
  }
}


.profile .img-box {
  cursor: pointer;
}



#sidebar_nav {
 
  height: 100vh;
  position: fixed;
  padding: 10px;
}

.nav-min {
  width: 80px;
  transition: 0.4s;
}

.nav-min h1,
.nav-min span {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
}

.nav-max {
  width: 220px;
  transition: 0.6s;
}

.nav-max span,
.nav-max h1 {
  overflow: clip;
  opacity: 1;
  transition: 0.5s;
}
