/* ***********************Hero CSS********************* */

#home {
  background: url(../../assets/Home/home-bg.jpg) center center;
  background-size: cover;
  vertical-align: middle;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  text-align: left;
  z-index: 1;
  margin-bottom: 4rem;
}

#home:after {
  content: "";
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Added */
  z-index: -1; /* Adjusted */
  pointer-events: none;
  background-color: #14452f;
  opacity: 0.8;
}
#video-background {
  width: 100%;
  border-radius: 20px;
}

/* ************HOME ABOUT SECTION ***************** */

.special_section {
  background: linear-gradient(to right, #046635 10%, #fff);
  box-shadow: 0px 16px 31.9px 0px rgba(0, 0, 0, 0.24);
  color: white;
  line-height: 1.5;
  font-family: "Gotham Medium", sans-serif;
  border-radius: 20px !important;
  margin-bottom: 4rem;

  & a {
    display: inline-block;
    font: 800 16px/24px "Gotham Medium", sans-serif;
    background: #000;
    border-radius: 10px !important;
    color: #fff;
    padding: 12px 28px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    width: max-content;
  }

  & a:hover {
    /* background-color: #046635; */
    transform: scale(0.9);
  }
}

@media (max-width: 599px) {
  .special_section .about-us {
    background-color: #046635 !important;
    border-radius: 10px;
  }
  .special_section .image-wrapper {
    display: none;
  }
}

@media (min-width: 600px) {
  .special_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .special_section .about-us {
    padding: 3vw 0 3vh 3vw;
  }

  .special_section .image-wrapper {
    filter: hue-rotate(20deg);
    clip-path: polygon(0 100%, 50% 0, 100% 0, 100% 100%);
  }
}
.special_section .about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.special_section .about-us h2 {
  font-weight: 600;
  white-space: nowrap;
  font-size: clamp(1.875rem, 1.597rem + 1.5337vw, 2rem);
  margin-block-end: 0.5rem;
  align-self: flex-start;
}
.special_section .about-us p {
  font-size: clamp(0.6rem, 1.5vw, 1rem);
  color: rgb(238, 237, 237);
}

.special_section .image-wrapper {
  height: 100%;
  width: 100%;
  clip-path: polygon(0, 0, 0, 0);
}
.special_section .image-wrapper img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 0 20px 20px 0 !important;
}

/* **************HOME FFEATURES CSS ****************** */

#about {
  /* margin-bottom: 8rem; */
  padding: 4rem 0;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1106%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1107%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1440 0L1269.42 0L1440 118.16z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1269.42 0L1440 118.16L1440 239.41L1267.24 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1267.24 0L1440 239.41L1440 268.24L1051.83 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M1051.83 0L1440 268.24L1440 461.46000000000004L327.8699999999999 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L148.14 560L0 292.86z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 292.86L148.14 560L681.53 560L0 281.56z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 281.56L681.53 560L695.5 560L0 123z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 123L695.5 560L916.36 560L0 107.24z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1106'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1107'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(20%2c 69%2c 47%2c 1)' offset='0'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
}
.feature {
  position: relative;
  color: #fff;
}

.feature + .feature {
  margin-top: 40px;
}

.feature .feature-icon {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 80px;
  text-align: center;
  border-radius: 50%;
  font-size: 30px;
  border: 1px solid #ffd23c;
  color: #ffd23c;
  padding: 10px;
}

.feature-content {
  padding-left: 100px;
  & h4 {
    font-family: "Gotham Medium", sans-serif;
    font-weight: 500;
  }
}

/* -- About Img -- */
.about-img {
  margin-top: 40px;
  border-radius: 20px;
}

.about-img > img {
  width: 100%;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  border-radius: 20px;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.drem-job {
  position: relative;
  z-index: 1;
  padding-left: 200px;
  padding-bottom: 150px;
  margin-top: 40px;
}

.job-item {
  background: linear-gradient(to right, #046635 10%, #04663562);
  display: flex;
  padding: 20px 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  border-radius: 10px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  animation: float 6s ease-in-out infinite;
  color: white;
}
.dr-sm-img img {
  border: 5px solid var(--tp-white-bg);
  border-radius: 100%;
}
.dr-sm-img {
  width: 250px;
  height: 250px;
  position: absolute;
  left: 90px;
  bottom: 100px;
}
.drem-job img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.job-ct-1 {
  left: 70px;
  top: 0;
}
.job-ct-2 {
  left: -20px;
  top: 50%;
}
.job-ct-3 {
  right: 0;
  bottom: 40px;
}

.job-ct-2.job-item .job-ct-icon {
  position: absolute;
  left: -20px;
  top: -20px;
  border: 2px solid black;
}

.job-ct-text > p {
  color: rgba(255, 255, 255, 0.63);
}

.job-item .job-ct-icon {
  width: 45px;
  height: 45px;
  text-align: center;
  background: white;
  color: var(--tp-theme-1);
  border-radius: 100%;
  line-height: 45px;
  font-size: 20px;
  margin-right: 20px;
  border: 2px solid black;
}

/* **************HOME COURSE SLIDER CSS ****************** */

.swiper-container {
  margin-bottom: 8rem;
}
.slick-dots li button:before {
  content: " ";
  background: #d8d8d8;
  opacity: 1;
  border-radius: 50%;
}
.slick-dots li.slick-active button:before {
  content: "";
  background: #046635;
  opacity: 1;
}

.slick-arrow {
  margin: -50px 0px 0px 0px;
  width: 30px;
  height: 30px;
}
.slick-arrow.slick-prev {
  left: 5%;
}
.slick-arrow.slick-next {
  right: 5%;
}

.swiper .swiper-wrapper + .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  top: -40px;
  z-index: 5;
}

.swiper-slide,
.swiper-slide-nocontent {
  cursor: grab;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
}
.swiper-slide .slide-image {
  display: block;
  object-fit: cover;
  height: 400px;
  position: relative;
  width: 66%;
  z-index: 1;
}

.swiper-slide-nocontent .slide-image {
  display: block;
  /* object-fit: cover; */
  height: 400px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.swiper-slide::before {
  box-shadow: 0px 30px 31.9px 0px rgba(0, 0, 0, 1);
  content: "";
  /* background-image: url(../../../assets/images/contact-dec-01.png); */
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #046635;
  display: block;
  height: 100%;
  position: absolute;
  left: 55%;
  width: 70%;
  top: 0px;
  transform: skew(-20deg);
  z-index: 2;
}
.swiper-slide::after {
  content: "";
  background-image: linear-gradient(
    65deg,
    rgba(8, 75, 6, 0.5) 20%,
    rgba(5, 105, 35, 0.5) 80%
  );
  display: block;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 45%;
  width: 0px;
  transform: skew(-20deg);
  transition: width 0.32s ease-in-out;
  z-index: 3;
}

.swiper-slide.swiper-slide-active::after {
  width: 100px;
}

.swiper-slide .container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  top: 0px;
  left: 80%;
  width: 450px;
  transform: translateX(-50%);
  z-index: 3;
  height: 100%;
  color: #fff;
}
.swiper-slide .slide-content .slide-content-inner {
  text-align: right;
}

.course_icon_btn {
  & button {
    display: inline-block;
    font: 800 19px/24px "Gotham Medium", sans-serif;
    background: #000;
    border-radius: 10px;
    color: #fff;
    padding: 12px 28px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
}

.slide-featured {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffd23c;
  position: relative;
  color: #22281e;
  padding: 5px 8px;
  font-size: 14px;
  font-weight: bold;
  line-height: normal;
  text-transform: uppercase;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  width: max-content;
  gap: 10px;

  & img {
    width: 40px;
    height: 40px;
  }
}

.course_link a {
  color: rgb(4, 102, 53) !important;
  text-decoration: underline !important;
  font-weight: 700;
  text-transform: capitalize;
  padding-bottom: 10px;
  &:hover {
    transform: scale(0.8);
    transition: transform 0.3s ease-in-out;
  }
}

@media (max-width: 1199px) {
  .swiper-slide .container {
    display: none;
  }
  .swiper-slide::before {
    display: none;
  }
  .swiper-slide .slide-image {
    width: 100%;
    height: auto;
  }
}

@-webkit-keyframes slideleft {
  0% {
    background-position: 385000px;
  }
  100% {
    background-position: 0;
  }
}
@keyframes slideleft {
  0% {
    background-position: 385000px;
  }
  100% {
    background-position: 0;
  }
}
.partners-img-container {
  height: 150px;
  width: 100%;
  overflow: auto;
}

.partners-img-container::-webkit-scrollbar {
  width: 0 !important;
}

/* hide scrollbar in Chrome */
.partners-img-container {
  scrollbar-width: none;
}

/* hide scrollbar in mozilla */
.partners-img-container {
  -ms-overflow-style: none;
}

/* hide scrollbar in IE */
.partners-img-container .partners-img {
  height: 100%;
  width: 200%;
  background: transparent url(../../assets/Home/logos.jpg) repeat-x 50% 0;
  -webkit-animation: slideleft 5000s linear infinite;
  animation: slideleft 5000s linear infinite;
  cursor: grab;
  background-size: contain;
}
/* ***********************HomeFeatures_2 CSS********************* */
.pb-110 {
  padding-bottom: 110px;
}

.pt-110 {
  padding-top: 110px;
}

.features-video {
  position: relative;
  z-index: 1;
  background-size: cover;
  background-position: center;
  background-color: var(--tp-gray-bg-3);
  margin-bottom: 8rem;
}

.video-overlay {
  position: absolute;
  left: 45%;
  top: 0;
  width: 60%;
  height: 100%;
  content: "";
  background-color: #14452f;
  z-index: -1;
  opacity: 0.7;
}
.single-video-box {
  position: relative;
  padding-left: 80px;
  margin-bottom: 30px;
  padding-right: 70px;
  color: white;
}
.single-video-box > p {
  color: rgba(255, 255, 255, 0.644);
}
.features-video-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 30px;
  line-height: 80px;
  padding: 0 28px;
  background-color: #046635;
  color: white;
  position: relative;
  border-radius: 100%;
}

.single-video-box i {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 50px;
  color: #fff;
}

@media (max-width: 991px) {
  .video-overlay {
    left: 0%;
    width: 100%;
  }
}

/* **************HOME LECTURERS CSS ****************** */

#lecturers {
  /* background-color: #d8e9df; */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1106%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1107%26quot%3b)'%3e%3c/rect%3e%3cpath d='M1440 0L1269.42 0L1440 118.16z' fill='rgba(255%2c 255%2c 255%2c .1)'%3e%3c/path%3e%3cpath d='M1269.42 0L1440 118.16L1440 239.41L1267.24 0z' fill='rgba(255%2c 255%2c 255%2c .075)'%3e%3c/path%3e%3cpath d='M1267.24 0L1440 239.41L1440 268.24L1051.83 0z' fill='rgba(255%2c 255%2c 255%2c .05)'%3e%3c/path%3e%3cpath d='M1051.83 0L1440 268.24L1440 461.46000000000004L327.8699999999999 0z' fill='rgba(255%2c 255%2c 255%2c .025)'%3e%3c/path%3e%3cpath d='M0 560L148.14 560L0 292.86z' fill='rgba(0%2c 0%2c 0%2c .1)'%3e%3c/path%3e%3cpath d='M0 292.86L148.14 560L681.53 560L0 281.56z' fill='rgba(0%2c 0%2c 0%2c .075)'%3e%3c/path%3e%3cpath d='M0 281.56L681.53 560L695.5 560L0 123z' fill='rgba(0%2c 0%2c 0%2c .05)'%3e%3c/path%3e%3cpath d='M0 123L695.5 560L916.36 560L0 107.24z' fill='rgba(0%2c 0%2c 0%2c .025)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1106'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='15.28%25' y1='-39.29%25' x2='84.72%25' y2='139.29%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1107'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(20%2c 69%2c 47%2c 1)' offset='0'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  margin-top: 3rem;
  margin-bottom: 5rem;
}

#lecturers .card {
  border-radius: 20px;
  min-height: 100%;
}

#lecturers .heading-border {
  position: absolute;
  width: 100%;
  top: 60%;
}

#lecturers .card .user-picture img {
  position: absolute;
  top: -20%;
  right: 10%;
  background: #046635 !important;
  padding: 10px;
}

#lecturers .card .user-content .user-name {
  margin-right: 150px;
  margin-bottom: 2rem;
}

#lecturers .card .card-body {
  border-radius: 20px;
  box-shadow: 0px 16px 15px 0px rgba(0, 0, 0, 0.24);
}
