#cards .card {
  border-radius: 20px;
  min-height: 100%;
  
}

#cards .heading-border {
  position: absolute;
  width: 100%;
  top: 60%;
}

#cards .card .user-picture img {
  position: absolute;
  top: -20%;
  right: 10%;
  background: #f8f9fa !important;
  padding: 10px;
}

#cards .card .user-content .user-name {
  margin-right: 150px;
  margin-bottom: 2rem;
}

#cards .card .card-body {
    border-radius: 20px;
    box-shadow: 0px 16px 15px 0px rgba(0, 0, 0, 0.24);
}