#content_ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}

#content-text {
  
}
.header-image {
  max-height: 50vh;
  width: 450px;
  border-radius: 20px;
}

#content-text_ h1 {
  font-size: 1.5rem;
  color: #26394e;
  margin-bottom: 3rem;
  text-transform: capitalize;
}

#content-text_ h1 span {
  color: #046635;
  font-size: 1.5rem;
}

#content-text_ h1 u {
  font-size: 1.5rem;
  text-decoration: underline;
  text-decoration-color: #046635;
  text-underline-offset: 1rem;
  text-decoration-thickness: 0.2rem;
}

#content-text_ h2 {
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 2rem;
  margin-bottom: 6rem;
}
