.modal-content {
  border-radius: 50px;
  background: #fff;
  box-shadow: 0px 0px 125.4px 0px rgba(0, 0, 0, 0.6);
}
.modal-body {
  padding: 4rem;
}

@media (max-width: 480px) {
 .modal-body {
  padding: 2rem 0.8rem;
 }
}