/*   === Footer Section Styling Starts ===   */
section.footer {
  width: 100%;
  padding: 70px 8% 30px;
  background-color: #046635;
}
.footer .footer-contents {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.footer-contents .footer-col {
  flex-basis: calc(calc(100% / 4) - 20px);
}
.footer-contents .footer-col .col-title {
  min-height: 60px;
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
}
.footer-col .col-title h3 {
  font-size: 24px;
  color: var(--light-heading-clr);
}
.footer-col .col-contents {
  display: flex;
  flex-direction: column;
}
.footer-col-1 .col-title img {
  width: 120px;
}
.footer-col-1 .col-contents p {
  color: var(--light-text-clr);
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 15px;
}
.footer-col-2 .col-contents .contact-row {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.footer-col-2 .col-contents .contact-row span {
  color: var(--light-text-clr);
  font-size: 16px;
}
.footer-col-2 .col-contents .contact-row span:nth-child(1) {
  color: var(--light-heading-clr);
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 2px;
}
.footer-col-3 .col-contents a {
  text-decoration: none;
  color: var(--light-text-clr);
  margin-bottom: 20px;
  align-self: flex-start;
  transition: all 0.3s;
}
.footer-col-3 .col-contents a:hover {
  letter-spacing: 2px;
}
.footer-col-4 .col-contents input {
  width: 100%;
  padding: 15px;
  background-color: var(--light-heading-clr);
  color: var(--dark-text-clr);
  border: none;
  border-radius: 5px;
}
.footer-col-4 .col-contents .newsletter-btn {
  background-color: var(--light-heading-clr);
  color: var(--primary-clr);
  margin-top: 20px;
}
.footer-col-4 .col-contents .newsletter-btn:hover {
  background-color: transparent;
  color: var(--light-heading-clr);
  border: 1px solid var(--light-heading-clr);
}
.footer .copy-rights {
  padding: 30px 0px 0px;
  border-top: 1px solid var(--light-text-clr);
  text-align: center;
}
.footer .copy-rights p {
  color: var(--primary-light-clr);
}
.footer .copy-rights p b {
  color: yellow;
}
/*   === Footer Section Styling Ends ===   */

@media (max-width: 968px) {
  .footer-contents .footer-col {
    flex-basis: calc(calc(100% / 2) - 20px);
  }
}

@media (max-width: 568px) {
  .footer-contents .footer-col {
    flex-basis: 100%;
  }
}

/*   === Media Query Ends ===   */
