.ban_sec {
    width: 100%;
    border-radius: 20px;
  }
  .ban_img {
    width: 100%;
    position: relative;
  }
  .ban_img img {
    width: 100%;
    max-height: 500px;
    border-radius: 20px;
  }
  .ban_text {
    position: absolute;
    top: 50%;
    left: 6%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 50%;
  }
  .ban_text strong {
    font: 800 62.22px/70px "Montserrat", sans-serif;
    color: #fff;
    text-transform: uppercase;
  }
  .ban_text strong span {
    font: 400 44.44px/52px "Montserrat", sans-serif;
    letter-spacing: 3px;
  }
  .ban_text p {
    font: 400 25px/30px "Montserrat", sans-serif;
    color: #fff;
    margin: 7px 0 25px;
  }
  .ban_text a, .welcome a {
    display: inline-block;
    font: 800 19.39px/24px "Montserrat", sans-serif;
    background: #046635;
    border-radius: 10px;
    color: #fff;
    padding: 12px 28px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
  }
  .ban_text a:hover, .welcome a:hover  {
    transform: scale(0.9);
  }
  
  @media only screen and (max-width: 991px) {
    .ban_text strong {
      font-size: 35px;
      line-height: 40px;
    }
    .ban_text strong span {
      font-size: 28px;
      line-height: 35px;
      letter-spacing: 2px;
    }
    .ban_text p {
      font-size: 14px;
      line-height: 20px;
    }
    .ban_text a {
      font-size: 13.39px;
      line-height: 15px;
    }
  }
  @media only screen and (max-width: 767px) {
    .ban_img img {
      min-height: 290px;
      object-fit: cover;
    }
  }
  @media only screen and (max-width: 575px) {
    .ban_text strong {
      padding: 10px;
      width: 100%;
      display: block;
    }
  }
  @media only screen and (max-width: 480px) {
    .ban_text strong span {
      font-size: 22px;
      line-height: 31px;
      letter-spacing: 1px;
    }
    .ban_text {
      left: 2%;
      width: 100%;
    }
  }


  /* ******************Moduels CSS *************************** */


  
  .faq .faq-list ul {
    padding: 0;
    list-style: none;
  }
  
  .faq .faq-list li+li {
    margin-top: 15px;
  }
  
  .faq .faq-list li {
    padding: 20px;
    background: #046635;
    border-radius: 10px;
    position: relative;
    color: #fff;
    font-size: 13px;
  }
  
  .faq .faq-list a {
    display: block;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
  }
  

  
  .faq .faq-list .icon-show,
  .faq .faq-list .icon-close {
    font-size: 24px;
    position: absolute;
    right: -100%;
    top: 0;
  }
  
  .faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
  }
  
  .faq .faq-list .icon-show {
    display: none;
  }
  
  .faq .faq-list a.collapsed {
    color: #36348d;
    transition: 0.3s;
  }
  
  .faq .faq-list a.collapsed:hover {
    color: #e82c88;
  }
  
  .faq .faq-list a.collapsed .icon-show {
    display: inline-block;
  }
  
  .faq .faq-list a.collapsed .icon-close {
    display: none;
  }
  
  @media (max-width: 1200px) {
    .faq .faq-list {
      padding: 0;
    }
  }
  

  /* *********************ENTRY REQ**************** */

  .entry_inactive {
    opacity: 0.5;
    pointer-events: none;
  }


  /********************** LECTURERS TAB ****************/
  .lecturer-card {
    width: 100%;
    border-radius: 10px;
    & img {
      width: 100%;
      object-fit: cover;
      border-radius: 10px 10px 0 0;
    }
    & .lecturer-desc {
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background-color: #046635;
      border-radius:  0 0 10px 10px;
      & span {
        font-size: clamp(1.25rem, 1.1944rem + 0.3067vw, 1.5625rem);
        font-weight: 700;
        color: #fff;
        text-transform: capitalize;
      }
      & p {
        font-size: 16px;
        font-weight: 500;
        color: #fff;
      }
    }
  }