:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Gotham Medium";
  src: local("Gotham Medium"),
    url("../assets/fonts/Gotham-Black.otf") format("truetype");
}

* {
  font-family: "Gotham Medium", sans-serif !important;
}

a {
  font-weight: 500;
  color: #fff !important;
  text-decoration: none !important;
  cursor: pointer;
  width: max-content;
}

body {
  margin: 0;
  pad: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: white;
  font-size: clamp(1.875rem, 1.597rem + 1.5337vw, 3.4375rem);
  text-transform: capitalize;
  font-family: "Gotham Medium", sans-serif;
  font-weight: 600;
}

h2 {
  font-weight: 700;
  font-size: clamp(1.2rem, 1.597rem + 1.5337vw, 2rem);
}
ul {
  list-style: none;
}
button {
  display: inline-block;
  width: max-content;
  font: 800 16px/24px "Gotham Medium", sans-serif !important;
  background: #000;
  border-radius: 10px !important;
  color: #fff;
  padding: 12px 28px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  border: none;
}
button:hover {
  transform: scale(0.9);
}
button:focus,
button:focus-visible {
  outline: none;
}

.button-green {
  display: inline-block;
  width: max-content;
  font: 800 16px/24px "Gotham Medium", sans-serif !important;
  background: #046635;
  border-radius: 10px !important;
  color: #fff;
  padding: 12px 28px;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  border: none;
}
.button-green:hover {
  /* border: 1px solid #046635;
  background-color: #fff;
  color: #046635 !important; */
  transform: scale(0.9);

}
.button-green:focus,
.button-green:focus-visible {
  outline: none;
}

.container-heading {
  text-align: center;
  font-size: 13px;
  color: #fff;
  margin: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Gotham Medium", sans-serif;
}
.container-heading::after {
  content: "";
  display: inline-block;
  width: 3%;
  height: 1px;
  background-color: #fff;
  position: relative;
  left: 10px;
  bottom: 5px;
}

.container-heading::before {
  content: "";
  display: inline-block;
  width: 3%;
  height: 1px;
  background-color: #fff;
  position: relative;
  right: 10px;
  bottom: 5px;
}

.container-heading-green {
  text-align: center;
  font-size: 13px;
  color: #046635;
  margin: 20px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Gotham Medium", sans-serif;
}
.container-heading-green::after {
  content: "";
  display: inline-block;
  width: 3%;
  height: 1px;
  background-color: #046635;
  position: relative;
  left: 10px;
  bottom: 5px;
}

.container-heading-green::before {
  content: "";
  display: inline-block;
  width: 3%;
  height: 1px;
  background-color: #046635;
  position: relative;
  right: 10px;
  bottom: 5px;
}
