.privacy-page {
  ul {
    list-style: circle;
  }
  .special {
    list-style: decimal;
    a {
      color: blue !important;
      text-decoration: underline !important;
    }
  }
  .special-li {
    list-style: disc;
    margin-left: 5rem !important;
  }
  .circle-li {
    list-style: circle;
  }
}
