.nav-tabss {
  border-bottom: none;
  position: relative;
  margin-bottom: 2rem !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.tab-content {
  margin-bottom: 20px;
  /* min-height: 100vh; */
  height: auto;
}
.tab-content .tab-pane {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 10px;
}
.nav-tabss .nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #22281e !important;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  padding: 0 25px;
  position: relative;
  width: 100%;
  line-height: 58px;
  gap: 0.5rem;
}

.nav-tabss .nav-item .nav-link.active {
  color: #046635 !important;
  background: none;
  border-bottom: 2px solid #046635;
  font-weight: 600;
}

.course-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  margin-top: 20px;
}

.course {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;

  & .description {
    min-height: 200px;

    & h2 {
      font-weight: 600;
      margin-left: 0;
      margin-bottom: 1.5rem;
    }
  }
}

.course:hover {
  border: 1px solid #046635;
  cursor: pointer;
}

.course img {
  width: 100%;
  height: 205px;
  border-radius: 5px;
}

.course h2 {
  margin: 10px;
}

.right_box {
  height: auto;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* float: right; */
  /* position: sticky; */
  top: 90px;
}
